
body {
    margin: 0;
    overflow: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}

main {
    position: fixed;
    top: 56px;
    bottom: 40px;
    left: 0;
    width: 100vw;
    overflow-y: auto;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
}