{% extends 'base.html' %}
{% block pagetitle %}
  Login
{% endblock %}

{% block content %}
  <main>
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-lg-4 mx-auto my-auto">
          <div class="card">
            <div class="card-header">
              <p class="h5 d-flex justify-content-center">Login</p>
            </div>
            <div class="card-body">
              <form class="row g-3" method="POST">
                <div class="col-12">
                  <label class="form-label">Email</label>
                  <input type="email" name="uemail" class="form-control form-control-sm"
                    placeholder="Enter Email" required />
                </div>
                <div class="col-12">
                  <label class="form-label">Password</label>
                  <input type="password" name="upassword" class="form-control form-control-sm"
                    placeholder="Enter Password" required />
                </div>
                <div class="col-12">
                  <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
