<div class="lots-module-wrapper mt-3">
  <div class="card">
    <h5 class="card-header">
      <div class="d-flex justify-content-between">
        <div class="h5">Recent Parking History</div>
        <a href="{{ url_for('book_spot') }}" class="btn btn-primary btn-sm">Book Spot</a>
      </div>
    </h5>
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Lot</th>
            <th scope="col">Spot No</th>
            <th scope="col" class="text-center">Parking Time</th>
            <th scope="col" class="text-center">Status</th>
            <th scope="col" class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for booked_spot in booked_spots %}
            <tr>
              <td>{{booked_spot.location}}</td>
              <td>{{ booked_spot.spotNo }}</td>
              <td class="text-center">{{ booked_spot.parking_ts.strftime('%Y-%m-%d %H:%M:%S') }}</td>
              <td class="text-center">
                {% if booked_spot.leaving_ts %}
                  <span class="badge bg-success">Vacated</span>
                {% else %}
                  <span class="badge bg-warning">Active</span>
                {% endif %}
              </td>
              <td class="text-center">
                {% if booked_spot.leaving_ts %}
                  <span class="badge bg-success">Done</span>
                {% else %}
                  <a href="{{ url_for('release_parking', release_id=booked_spot.id)}}" class="btn btn-sm btn-outline-warning">Release</a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
