<div class="lots-module-wrapper mt-3">
  <div class="card">
    <h5 class="card-header">Recent Parking History</h5>
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Lot</th>
            <th scope="col" class="text-center">Spot No</th>
            <th scope="col" class="text-center">Vehicle</th>
            <th scope="col" class="text-center">Parked From</th>
            <th scope="col" class="text-center">Parked To</th>
            <th scope="col" class="text-center">Status</th>
          </tr>
        </thead>
        <tbody>
          {% for booked_spot in booked_spots %}
            {% if booked_spot.leaving_ts %}
              <tr>
                <td>{{booked_spot.location}}</td>
                <td class="text-center">{{booked_spot.spotNo}}</td>
                <td class="text-center">{{booked_spot.vehicleNo}}</td>
                <td class="text-center">{{booked_spot.parking_ts.strftime('%Y-%m-%d %H:%M:%S')}}</td>
                <td class="text-center">{{booked_spot.leaving_ts.strftime('%Y-%m-%d %H:%M:%S')}}</td>
                <td class="text-center text-success">Existed</td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
