{% extends 'base.html' %}
{% block pagetitle %}
  User Dashboard
{% endblock %}

{% block content %}
  {% include 'Header.html' %}
  <main>
    <div class="container mt-3">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Home</button>
          <button class="nav-link" id="nav-summary-tab" data-bs-toggle="tab" data-bs-target="#nav-summary" type="button" role="tab" aria-controls="nav-summary" aria-selected="false">Summary</button>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          {% include 'User/ParkingHistory.html' %}
        </div>
        <div class="tab-pane fade" id="nav-summary" role="tabpanel" aria-labelledby="nav-summary-tab">
          {% include 'User/UserSummary.html' %}
        </div>
      </div>
    </div>
  </main>
  {% include 'Footer.html' %}
{% endblock %}
